<button class="slider-button" id="slider-button-left" {{action "slideLeft"}}>
  {{fa-icon "fa fa-arrow-circle-left"}}
</button>
{{#each firstFive as |roadtrip|}}
  <button class="slider-object {{sliderDimensions}}" id="slider-button-{{roadtrip.id}}" {{action "sliderButtonFocus" roadtrip.id}}>
    {{roadtrip.name}}
  </button>
{{/each}}
<button class="slider-button" id="slider-button-right" {{action "slideRight"}}>
  {{fa-icon "fa fa-arrow-circle-right"}}
</button>
