{{log "ember - app/templates/components/model-slider.hbs"}}
<button class="slider-button" id="slider-button-left" {{action "slideLeft"}}>
  {{fa-icon "fa fa-arrow-circle-left"}}
</button>
{{#each firstFive as |vacation|}}
  {{#if vacation.focused}}
    <button class="slider-object {{sliderDimensions}} slider-selected" id="slider-button-{{vacation.id}}" {{action "sliderButtonFocus" vacation.id}}>
      {{vacation.name}}
    </button>
  {{else}}
    <button class="slider-object {{sliderDimensions}}" id="slider-button-{{vacation.id}}" {{action "sliderButtonFocus" vacation.id}}>
      {{vacation.name}}
    </button>
  {{/if}}
{{/each}}
<button class="slider-button" id="slider-button-right" {{action "slideRight"}}>
  {{fa-icon "fa fa-arrow-circle-right"}}
</button>
